version: 2.1

jobs:
  terraform:
    docker:
    - image: hashicorp/terraform:1.6.5

    working_directory: ~/Terraform-Test

    steps:
    - checkout

    - run:
        name: Terraform Init
        command: terraform init

    - run:
        name: Terraform plan
        command: terraform plan -auto-approve

    - run:
        name: Terraform Apply
        command: terraform apply -auto-approve

workflows:
  version: 2
  main:
    jobs:
    - terraform:
        filters:
          branches:
            only:
            - main
